body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 18px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
    position:relative;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
#btn {
    padding: 5px 10px;
}

input[type="file"] {
    display: none;
}
.upload-btn {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
 }
.upload-btn:hover {
    background-color: #e7e7e7;
}

.button {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    color: #cc000a;
    font-size: 15px;
 }
.button:hover {
    background-color: #e7e7e7;
}


.note {
    background-color: #fbfaf1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
.delete-note {
    top: 5px;
    right: 5px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
footer{
    padding: 10px;
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}
.delete-note:hover{
    background: #cc000a;
    color:#fff;
}